<h1>Tell us what other skills you have...</h1>
<div class="added_skills">
<% @user.skills.each do |skill| %>
 <p><%= skill.skill %></p>
<% end %>
</div>
<%= form_for [@user, @skill] do |f| %>
  <%= f.label :skill, "What else?" %>
  <%= f.text_field :skill %>
  <%= f.submit "add a skill!" %>
<% end %>
<%= link_to "next", new_user_sharable_path(@user) %>
