<body class="background-theme">
<%= render partial: "shared/errors", locals: { target: @skill } %>
<br/><br/>
<h1>Tell us what skills you have...</h1>

<%= form_for [@user, @skill] do |f| %>
  <%= f.label :skill, "What are you good at?" %>
  <%= f.text_field :skill %>
  <%= f.submit "add a skill!" %>
<% end %>
</body>
