<body class="background-theme">
<div>
  <%= link_to("<<Back to Skills", user_skills_path(@user), :class => "btn btn-basic")%>
</div>
<br/><br/>

<h1>Tell us what assets/resources you are willing to share...</h1>

<%= form_for [@user, @sharable] do |f| %>
  <%= f.label :sharable, "What physical things might you have to offer? (think: \"meeting space\", \"art supplies\", \"that limo i've been holding on to...\")" %>
  <%= f.text_field :sharable %>
  <%= f.submit "offer a resource!" %>
<% end %>
</body>
