<% if current_user %>
<%= render "/layouts/navbar" %>
<% end %>
<body class="background-theme">
<section id="community-form">
<%= form_for [@user, @community] do |f| %>

<%= f.label :community_name %><br>
<%= f.text_field(:name, {:class => "input-comm-name"})%><br>
<%= f.label :description, "Tell us about your community." %><br>
<%= f.text_field(:description, {:class => "input-comm-desc"})%><br>
<%= f.submit "Create Community", :class => "submit-button" %>
<% end %>
<div class="cancel-close">
  <%= link_to "cancel", user_path(@user) %>
</div>
</section>
</body>
