<% if current_user %>
<%= render "/layouts/navbar" %>
<% end %>
<body class="background-theme">
<section>
<%= form_for [@user, @community] do |f| %>

<%= f.label :community_name %>
<%= f.text_field :name %>
<%= f.label :description, "Tell us about your community." %>
<%= f.text_field :description %>
<%= f.submit "Create Community" %>
<% end %>
<div class="cancel-close">
  <%= link_to "cancel", user_path(@user) %>
</div>
</section>
</body>
